# composer
/src/composer.lock
/src/composer.phar
/src/autoload.php
/src/vendor/

# dist
/src/.htaccess
/src/forum/conf/database.php
/src/forum/conf/settings.php

# review
/build
/src/build

# editors
*~
*.bak
*.swp
